@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Nunito');
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: "#1479ff10";
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 3px #1479ff30;
    background-color: "#1479ff";
}


